@model Proyecto2_Apollo.Models.Question

@{
    ViewBag.Title = "RegisterQuestion";
}

<h2>Preguntas de seguridad</h2>
@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>¡Operación completada! </strong>@ViewBag.Message
            Puedes regresar al @Html.ActionLink("login", "Login", "User")
        </div>
    }
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <center>
            @{
                List<SelectListItem> listItemsOne = new List<SelectListItem>();
                listItemsOne.Add(new SelectListItem
                {
                    Text = "¿Cuál fue el nombre de la calle en que nació?",
                    Value = "¿Cuál fue el nombre de la calle en que nació?"
                });
                listItemsOne.Add(new SelectListItem
                {
                    Text = "¿Cuál es tu comida favorita?",
                    Value = "¿Cuál es tu comida favorita?",
                });
                listItemsOne.Add(new SelectListItem
                {
                    Text = "¿Cuál es tu pasatiempo favorito?",
                    Value = "¿Cuál es tu pasatiempo favorito?"
                });
                listItemsOne.Add(new SelectListItem
                {
                    Text = "¿Cuáles son los 4 ultimos digitos de tu numero de teléfono?",
                    Value = "¿Cuáles son los 4 ultimos digitos de tu numero de teléfono?"
                });
                listItemsOne.Add(new SelectListItem
                {
                    Text = "¿Cuál es el nombre del hospital en que naciste?",
                    Value = "¿Cuál es el nombre del hospital en que naciste?"
                });
                listItemsOne.Add(new SelectListItem
                {
                    Text = "¿Quién fue tu héroe de la infancia?",
                    Value = "¿Quién fue tu héroe de la infancia?"
                });
            }

            @{
                List<SelectListItem> listItemsTwo = new List<SelectListItem>();
                listItemsTwo.Add(new SelectListItem
                {
                    Text = "¿Cuál es tu navegador web favorito?",
                    Value = "¿Cuál es tu navegador web favorito?"
                });
                listItemsTwo.Add(new SelectListItem
                {
                    Text = "¿Cuál fue el nombre de la escuela a la que asistió?",
                    Value = "¿Cuál fue el nombre de la escuela a la que asistió?",
                });
                listItemsTwo.Add(new SelectListItem
                {
                    Text = "¿Cuál es el segundo nombre de tu padre?",
                    Value = "¿Cuál es el segundo nombre de tu padre?"
                });
                listItemsTwo.Add(new SelectListItem
                {
                    Text = "¿Cuál fue el preferido que visitaste en tu infancia?",
                    Value = "¿Cuál fue el preferido que visitaste en tu infancia?"
                });
                listItemsTwo.Add(new SelectListItem
                {
                    Text = "¿Cuál es tu trabajo soñado?",
                    Value = "¿Cuál es tu trabajo soñado?"
                });
                listItemsTwo.Add(new SelectListItem
                {
                    Text = "¿Cuál es el nombre de tu mejor amigo?",
                    Value = "¿Cuál es el nombre de tu mejor amigo?"
                });
            }

            @{
                List<SelectListItem> listItemsThree = new List<SelectListItem>();
                listItemsThree.Add(new SelectListItem
                {
                    Text = "¿Cuál fue el nombre de tu primer mascota?",
                    Value = "¿Cuál fue el nombre de tu primer mascota?"
                });
                listItemsThree.Add(new SelectListItem
                {
                    Text = "¿Dónde fueron tus primeras vacaciones?",
                    Value = "¿Dónde fueron tus primeras vacaciones?",
                });
                listItemsThree.Add(new SelectListItem
                {
                    Text = "¿Cuál es el nombre de tu equipo de fútbol favorito?",
                    Value = "¿Cuál es el nombre de tu equipo de fútbol favorito?"
                });
                listItemsThree.Add(new SelectListItem
                {
                    Text = "¿Cuál fue la ciudad en la que se conocieron tus padres?",
                    Value = "¿Cuál fue la ciudad en la que se conocieron tus padres?"
                });
                listItemsThree.Add(new SelectListItem
                {
                    Text = "¿Cuál lugar te gustaría visitar en el futuro?",
                    Value = "¿Cuál lugar te gustaría visitar en el futuro?"
                });
                listItemsThree.Add(new SelectListItem
                {
                    Text = "¿En cuál ciudad nacio tu madre?",
                    Value = "¿En cuál ciudad nacio tu madre?"
                });
            }
            <div class="form-horizontal">
                <hr />
                <h4>Instrucciones:</h4>                 
                <h5>Escoja solamente una pregunta por cada desplegable/lista.</h5>                 
                <h5>Debe tener 3 preguntas y 3 respuestas. Las preguntas no pueden estar repetidas.</h5>
                <br />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.UserQuestionOne, listItemsOne, "Elige una opción", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserQuestionOne, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.AnswerOne, new { htmlAttributes = new { @class = "form-control", @Placeholder = "Respuesta #1" } })
                        @Html.ValidationMessageFor(model => model.AnswerOne, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="display: none;">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.FUserID, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.userid } })
                        @Html.ValidationMessageFor(model => model.FUserID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <br />
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.UserQuestionTwo, listItemsTwo, "Elige una opción", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserQuestionTwo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.AnswerTwo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Respuesta #2" } })
                        @Html.ValidationMessageFor(model => model.AnswerTwo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <br />
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownListFor(model => model.UserQuestionThree, listItemsThree, "Elige una opción", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserQuestionThree, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.AnswerThree, new { htmlAttributes = new { @class = "form-control", @placeholder = "Respuesta #3" } })
                        @Html.ValidationMessageFor(model => model.AnswerThree, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
        </center>

        if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong>¡Error! </strong>@ViewBag.Message
            </div>
        }
    }
}

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


