
@{
    ViewBag.Title = "VerifyAccount";
}

<h2>Verificar tu Cuenta</h2>
<hr />
<br />
@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>¡Operacion Completada!</strong> Su cuenta ha sido activada correctamente. Haga click para continuar @Html.ActionLink("Preguntas de Seguridad", "RegisterQuestion", "User")
    </div>
    <input type="text" name="idusuario" value="@ViewBag.Message" />
    @Html.TextBox("idusuario", "", new { @class = "form-control" })

}
else
{
    <div class="alert alert-danger">
        <strong>Se ha producido un error.</strong> @ViewBag.Message
    </div>
}

<div class="enlace">
    @Html.ActionLink("Regresar al inicio", "Login", "User")
</div>