@{
    ViewBag.Title = "VerifyAccount";
}

<h2>Verificación completada</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    using (Html.BeginForm())
    {
        <center>
            <div class="form-horizontal">
                <div class="alert alert-success">
                    <strong>¡Operacion Completada!</strong> Su cuenta ha sido activada correctamente.
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <h4>Por favor continue con el registro de las preguntas de seguridad.</h4><br />
                        <input class="btn btn-primary" type="submit" value="Continuar"/>
                    </div>
                </div>
                <div class="form-group">
                    <div style="display: none;">
                        @Html.TextBox("idusuario", "", new { @class = "form-control", @Value = @ViewBag.Message })
                        @Html.TextBox("valor", "", new { @class = "form-control", @Value = @ViewBag.Message })
                    </div>
                </div>

            </div>
        </center>
    }
}
else
{
    <div class="alert alert-danger">
        <strong>Se ha producido un error.</strong> @ViewBag.Message
    </div>
}
